Exercise 1: Print First 10 natural numbers using while loop

In [5]:
i=1
while i < 11:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

Exercise 2: Print the following pattern

In [28]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print("")

1
12
123
1234
12345

Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [41]:
s=0
a=int(input("Enter a no\n: "))
for i in range(a+1):
    s+=i
print("sum is", s)

Enter a no
: 5
sum is 15

In [42]:
n = int(input("Enter number "))
# pass range of numbers to sum() function
x = sum(range(1, n + 1))
print('Sum is:', x)

Enter number 5
Sum is: 15

Exercise 4: Write a program to print multiplication table of a given number

In [47]:
n=2
for i in range(1,11,1):
    product=n*i
    print(product)

2
4
6
8
10
12
14
16
18
20

Exercise 5: Display numbers from a list using loop

In [53]:
n = [12, 75, 150, 180, 145, 525, 50]
if n % 5 == 0:
    break
elif n>150:
    continue
else n % 5 == 0:
    print(n)

SyntaxError: invalid syntax (<ipython-input-53-af6cc92d03d7>, line 6)

In [56]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for n in numbers:
    if n>500:
        break
    elif n>150:
        continue   
    elif n % 5 == 0:
        print(n)

75
150
145

Exercise 6: Count the total number of digits in a number

In [1]:
num = 75869
count = 0
while num != 0:
    # floor division
    # to reduce the last digit from number
    num = num // 10

    # increment counter by 1
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

In [2]:
n=85236
n=n//10
n

8523

In [ ]:
c=0
c+=1
c

In [1]:
num = 75869
count = 0
while num != 0:
    # floor division
    # to reduce the last digit from number
    
    num=num//10
    # increment counter by 1
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

Exercise 7: Print the following pattern

In [22]:
for i in range(5):
    for j in range(5-i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Exercise 8: Print list in reverse order using a loop

In [28]:
list1 = [10, 20, 30, 40, 50]
new_list=reversed(list1)
for i in new_list:
    
    
    print(i)

50
40
30
20
10

Exercise 9: Display numbers from -10 to -1 using for loop

In [34]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [37]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

Exercise 11: Write a program to display all prime numbers within a range

In [45]:
start=25
end=50
for i in range(start,end+1):
    if i > 1:
        for j in range(2,i):
            if (i%j)==0:
                break
        else:
            print(i)

29
31
37
41
43
47

In [50]:
s=25
e=50
for i in range(s,e):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i)

29
31
37
41
43
47

Exercise 12: Display Fibonacci series up to 10 terms

In [59]:
c=0
d=1
for i in range(0,10):
    print(c)
    e=c+d
    c=d 
    d=e

0
1
1
2
3
5
8
13
21
34

Exercise 13: Find the factorial of a given number

In [73]:
fac=1
for i in range(1,5+1):
    fac=fac*i
    print(fac)

1
2
6
24
120

In [74]:
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    # run loop 5 times
    for i in range(1, num + 1):
        # multiply factorial by current number
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

Exercise 14: Reverse a given integer number

In [78]:
n=7852
while n>0:
    count=n%10
    n = n//10
    print(count,end="")

2587

Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [14]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i)

20
40
60
80
100

In [7]:
l=[]
for i in range(10):
    if i % 2 != 0:
        l.append("odd")
    else :
        l.append("even")
print(l)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [33]:
m=[10,20,30,40,50,60,70,80,90,100]
for i in range(len(m)):
    if i % 2 != 0:
        print(m[i])

20
40
60
80
100

In [36]:
n=6
for i in range(1,n+1):
    j = i*i*i
    print("current no is:", i, "and the cube is: ",j)

current no is: 1 and the cube is:  1
current no is: 2 and the cube is:  8
current no is: 3 and the cube is:  27
current no is: 4 and the cube is:  64
current no is: 5 and the cube is:  125
current no is: 6 and the cube is:  216

Exercise 17: Find the sum of the series upto n terms

In [1]:
n = 5
# first number of sequence
start = 2
sum_seq = 0

# run loop n times
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    # calculate the next term
    start = start * 10 + 2
print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690

In [8]:
start=2
suml = 0
for i in range(5):
    print(start,end="+")
    suml=suml+start
    start=start*10+2
print("sum of the above series is:", suml)

2+22+222+2222+22222+sum of the above series is: 24690

Exercise 18: Print the following pattern

In [12]:
for i in range(5+1):
    for j in range(i):
        print("*",end=" ")
    print()
for i in range(5):
    for j in range(i+1,5):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Exercise 1: Create a function in Python

In [1]:
def test1(name,age):
    return(name,age)

In [4]:
test1(23,"priyanka")

(23, 'priyanka')

Exercise 2: Create a function with variable length of arguments

In [10]:
def func1(*args):
    for i in args:
        print(i)

In [11]:
func1([20,30,50,40],[80,100])

[20, 30, 50, 40]
[80, 100]

Exercise 3: Return multiple values from a function

In [17]:
def calculation(a,b):
    return a+b, a-b
res=calculation(40,20)
res

(60, 20)

Exercise 4: Create a function with default argument

In [21]:

def show_employee(name,salary=9000):

    return(name,salary)
show_employee("kelly",12000)
show_employee("denial")

('denial', 9000)

Exercise 5: Create an inner function to calculate the addition in the following way

In [36]:
def func2(a,b):
    def func3(a,b):
        print(a+b)
    c=a+b
    return c+5

In [37]:
func2(4,2)

11

Exercise 6: Create a recursive function

In [38]:
def addition(num):
    if num:
        # call same function by reducing number by 1
        return num + addition(num - 1)
    else:
        return 0

res = addition(10)
print(res)

55

In [58]:
def recur(no):
    if no:
        return no + recur(no-1)
    else:
        return 0

In [59]:
recur(10)

55

Exercise 7: Assign a different name to function and call it through the new name

In [72]:
def display_student(name, age):
    
    print(name, age)

In [73]:
display_student("pink",22)
show_student = display_student
show_student("pink",22)

pink 22
pink 22

Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [81]:
list(range(4,30,2))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Exercise 9: Find the largest item from a given list

In [89]:
x = [4, 6, 8, 24, 12, 2]
max(x)

24

Exercise 1A: Create a string made of the first, middle and last character

In [92]:
p="vivek"
p[::2]

'vvk'

Exercise 1B: Create a string made of the middle three characters

In [95]:
str1 = "JhonDipPeta"
str1[4:7]

'Dip'

In [96]:
def get_middle_three_chars(str1):
    print("Original String is", str1)

    # first get middle index number
    mi = int(len(str1) / 2)

    # use string slicing to get result characters
    res = str1[mi - 1:mi + 2]
    print("Middle three chars are:", res)

get_middle_three_chars("JhonDipPeta")
get_middle_three_chars("JaSonAy")

Original String is JhonDipPeta
Middle three chars are: Dip
Original String is JaSonAy
Middle three chars are: Son

Exercise 2: Append new string in the middle of a given string

In [113]:
s1 = "Ault"
s2 = "Kelly"
def append_middle(s1, s2):
    print("Original Strings are", s1, s2)

    # middle index number of s1
    mi = int(len(s1) / 2)

    # get character from 0 to the middle index number from s1
    x = s1[:mi:]
    # concatenate s2 to it
    x = x + s2
    # append remaining character from s1
    x = x + s1[mi:]
    print("After appending new string in middle:", x)

append_middle("Ault", "Kelly")

Original Strings are Ault Kelly
After appending new string in middle: AuKellylt

In [116]:
def newstr(s1,s2):
    m=int(len(s1)/2)
    x=s1[:m:]
    x=x+s2
    x=x+s1[m:]
    return x

In [117]:
newstr("Ault","Kelly")

'AuKellylt'

In [127]:
s="Priyanka"
d="Vivek"
m=int(len(s)/2)
m

4

In [132]:
a=s[:m]
b=s[m:]
print(a)
print(b)

Priy
anka

In [133]:
a=a+d
a

'PriyVivek'

In [134]:
a=a+b
a

'PriyVivekanka'

Exercise 3: Create a new string made of the first, middle, and last characters of each input string

In [142]:
s1 = "America"
s2 = "Japan"
def mixstr(s1,s2):
    first=s1[0]+s2[0]
    middle=s1[int(len(s1)/2):int(len(s1)/2+1)]+s2[int(len(s2)/2):int(len(s2)/2+1)]
    last=s1[-1]+s2[-1]
    final=first+middle+last
    return final
mixstr(s1,s2)

'AJrpan'

Exercise 4: Arrange string characters such that lowercase letters should come first

In [147]:
str1 = "PyNaTive"
l=[]
u=[]
for i in str1:
    if i.islower():
        l.append(i)
    else :
        u.append(i)
sort="".join(l+u)
sort

'yaivePNT'

Exercise 5: Count all letters, digits, and special symbols from a given "string and list manupulation.ipynb"

In [160]:
str1 = "P@#yn26at^&i5ve"
letter= 0
digit = 0
symbol= 0
for char in sample_str:
    if char.isalpha():
        letter += 1
    elif char.isdigit():
        digit += 1
        # if it is not letter or digit then it is special symbol
    else:
        symbol += 1

print("Chars =", letter, "Digits =", digit, "Symbol =", symbol)

Chars = 8 Digits = 2 Symbol = 3

In [154]:
def find_digits_chars_symbols(sample_str):
    char_count = 0
    digit_count = 0
    symbol_count = 0
    for char in sample_str:
        if char.isalpha():
            char_count += 1
        elif char.isdigit():
            digit_count += 1
        # if it is not letter or digit then it is special symbol
        else:
            symbol_count += 1

    print("Chars =", char_count, "Digits =", digit_count, "Symbol =", symbol_count)

sample_str = "P@yn2at&#i5ve"
print("total counts of chars, Digits, and symbols \n")
find_digits_chars_symbols(sample_str)

total counts of chars, Digits, and symbols

Chars = 8 Digits = 2 Symbol = 3

Exercise 6: Create a mixed String using the following rules

In [170]:
s1 = "Abc"
s2 = "Xyz"

In [179]:
s3=s1[0:3:1]+s2[-1:-4:-1]

In [183]:
s1[0]+s2[-1]+s1[1]+s2[-2]+s1[2]+s2[-3]

'AXbycz'

In [181]:
s1 = "Abc"
s2 = "Xyz"

# get string length
s1_length = len(s1)
s2_length = len(s2)

# get length of a bigger string
length = s1_length if s1_length > s2_length else s2_length
result = ""

# reverse s2
s2 = s2[::-1]

# iterate string 
# s1 ascending and s2 descending
for i in range(length):
    if i < s1_length:
        result = result + s1[i]
    if i < s2_length:
        result = result + s2[i]

print(result)

AzbycX

Exercise 7: String characters balance Test

In [184]:
s1 = "Yn"
s2 = "PYnative"
s1 in s2

True

In [185]:
s1 = "Ynf"
s2 = "PYnative"
s1 in s2

False

Exercise 8: Find all occurrences of a substring in a given string by ignoring the case

In [187]:
str1 = "Welcome to USA. usa awesome, isn't it?"
substr="USA"
temstr=str1.lower()
count=temstr.count(substr.lower())
count

2

Exercise 9: Calculate the sum and average of the digits present in a string

In [191]:
str1 = "PYnative29@#8496"
total=0
ava=0
for i in str1:
    if i.isdigit():
        total+=int(i)
        ava+=1
ava=total/ava
print(total,",",ava)

38 , 6.333333333333333

Exercise 10: Write a program to count occurrences of all characters within a string

In [208]:
str1 = "Apple"
idict=dict()
for i in str1:
    j=str1.count(i)
    idict[i]=j
print(idict)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

Exercise 11: Reverse a given string

In [216]:
str1 = "PYnative"
str1[::-1]

'evitanYP'

Exercise 12: Find the last position of a given substring

In [223]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
print(str1.rfind("Emma"))

43

Exercise 13: Split a string on hyphens

In [236]:
str1 = "Emma-is-a-data-scientist"
p=str1.split("-")
for i in p:
    print(i)

Emma
is
a
data
scientist

Exercise 14: Remove empty strings from a list of strings

In [246]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
new=[]
for i in str_list:
    if i:
        new.append(i)
print(new)

['Emma', 'Jon', 'Kelly', 'Eric']

Exercise 15: Remove special symbols / punctuation from a string

In [248]:
import string
str1 = "/*Jon is @developer & musician"
str=str1.translate(str1.maketrans('','',string.punctuation))
str

'Jon is developer  musician'

Exercise 16: Removal all characters from a string except integers

In [250]:
str1 = 'I am 25 years and 10 months old'
for i in str1:
    if i.isdigit():
        print(i,end="")

2510

Exercise 17: Find words with both alphabets and numbers

In [265]:
str1 = "Emma25 is Data scientist50 and AI Expert"
res=[]
temp=str1.split()
for item in temp:
     if any(i.isalpha() for i in item) and any(i.isdigit() for i in item):
        res.append(item)
for j in res:
    print(j)

Emma25
scientist50

Exercise 18: Replace each special symbol with # in the following string

In [266]:

import string
str1 = '/*Jon is @developer & musician!!'
replace_char='#'
for i in string.punctuation:
    str1=str1.replace(i,replace_char)
str1

'##Jon is #developer # musician##'

In [270]:
aList = ['a', 'b', 'c', 'd']
newList = list(aList)

In [272]:
dict2 = dict1.copy()
dict2 = dict(dict1)
dict2 = dict1

NameError: name 'dict1' is not defined

Exercise 1: Create a list by picking an odd-index items from the first list and even index items from the second

In [13]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
l3=l1[1::2]
l4=l2[::2]

In [18]:
print(l3)
print(l4)
l=l3+l4
l

[6, 12, 18]
[4, 12, 20, 28]

[6, 12, 18, 4, 12, 20, 28]

Exercise 2: Remove and add item in a list

In [28]:
l=[15,25,97,98,3,10]
l.pop(4)
l

[15, 25, 97, 98, 10]

In [29]:
l.insert(2,3)
l

[15, 25, 3, 97, 98, 10]

In [30]:
l.append(3)
l

[15, 25, 3, 97, 98, 10, 3]

Exercise 3: Slice list into 3 equal chunks and reverse each chunk

In [42]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
a=sample_list[:3]
a1=a[::-1]
print(a)
print(a1)
b=sample_list[3:6]
b1=b[::-1]
print(b)
print(b1)
c=sample_list[6:]
c1=c[::-1]
print(c)
print(c1)

[11, 45, 8]
[8, 45, 11]
[23, 14, 12]
[12, 14, 23]
[78, 45, 89]
[89, 45, 78]

In [43]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
print("Original list ", sample_list)

length = len(sample_list)
chunk_size = int(length / 3)
start = 0
end = chunk_size

# run loop 3 times
for i in range(3):
    # get indexes
    indexes = slice(start, end)
    
    # get chunk
    list_chunk = sample_list[indexes]
    print("Chunk ", i, list_chunk)
    
    # reverse chunk
    print("After reversing it ", list(reversed(list_chunk)))

    start = end
    end += chunk_size

Original list  [11, 45, 8, 23, 14, 12, 78, 45, 89]
Chunk  0 [11, 45, 8]
After reversing it  [8, 45, 11]
Chunk  1 [23, 14, 12]
After reversing it  [12, 14, 23]
Chunk  2 [78, 45, 89]
After reversing it  [89, 45, 78]

Exercise 4: Count the occurrence of each element from a list

In [2]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
dict1={}
for i in sample_list:
    if i in dict1:
        dict1[i]+=1
    else:
        dict1[i] = 1
print(dict1)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

Exercise 5: Create a Python set such that it shows the element from both lists in a pair

In [1]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

In [3]:
result_list = zip(first_list,second_list)
result = set(result_list)
result

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

Exercise 6: Find the intersection (common) of two sets and remove those elements from the first set

In [17]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
print(first_set)
print(second_set)
a = first_set.intersection(second_set)
print("intersection is",a)
for i in a:
    first_set.remove(i)
print(first_set)

{65, 42, 78, 83, 23, 57, 29}
{67, 73, 43, 48, 83, 57, 29}
intersection is {57, 83, 29}
{65, 42, 78, 23}

Exercise 7: Checks if one set is a subset or superset of another set. If found, delete all elements from that set

In [23]:
first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}
case1=first_set.issubset(second_set)
print("first_set is subset of second_set:",case1)
case2=second_set.issubset(first_set)
print("second_set is subset of first_set:",case2)
case3=first_set.issuperset(second_set)
print("first_set is superset of first_set:",case3)
case4=second_set.issuperset(first_set)
print("second_set is superset of first_set:",case4)

if case1 == True:
    first_set.clear()
print("first_set",first_set)
print("second_set",second_set)

first_set is subset of second_set: True
second_set is subset of first_set: False
first_set is superset of first_set: False
second_set is superset of first_set: True
first_set set()
second_set {34, 43, 48, 53, 22, 27, 93}

Exercise 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

In [40]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
# for i in roll_number:
#     if i in sample_dict.values():
#         print(i,end=",")
# print("\n",roll_number)
roll_number[:] = [item for item in roll_number if item in sample_dict.values()]
print(roll_number)

[47, 69, 76, 97]

Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates

In [47]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}
print(speed.values())
l=[]
for i in speed.values():
    if i not in l:
        l.append(i)
print(l)

dict_values([47, 52, 47, 44, 52, 53, 54, 44, 54])
[47, 52, 44, 53, 54]

Exercise 10: Remove duplicates from a list and create a tuple and find the minimum and maximum number

In [49]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
new_list = list(set(sample_list))
print("unique_list",new_list)
new_tuple=tuple(new_list)
print("tuple",new_tuple)
print("max",max(sample_list))
print("min",min(sample_list))

unique_list [65, 99, 41, 45, 87, 94]
tuple (65, 99, 41, 45, 87, 94)
max 99
min 41

Exercise 1: Reverse a list in Python

In [57]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
list1

[500, 400, 300, 200, 100]

Exercise 2: Concatenate two lists index-wise

In [66]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

Exercise 3: Turn every item of a list into its square

In [8]:
numbers = [1, 2, 3, 4, 5, 6, 7]
n=[]
for i in numbers:
    n.append(i**2)
print(n)

[1, 4, 9, 16, 25, 36, 49]

Exercise 4: Concatenate two lists in the following order

In [11]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3=[]
for i in list1:
    for j in list2:
        list3.append(i+j)
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

Exercise 5: Iterate both lists simultaneously

In [24]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x,y in zip(list1,list2[::-1]):
    print(x,y)

10 400
20 300
30 200
40 100

Exercise 6: Remove empty strings from the list of strings

In [32]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
a=list(filter(None,list1))
a

['Mike', 'Emma', 'Kelly', 'Brad']

Exercise 7: Add new item to list after a specified item

In [37]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Exercise 8: Extend nested list by adding the sublist

In [47]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

Exercise 9: Replace list’s item with new value if found

In [48]:
list1 = [5, 10, 15, 20, 25, 50, 20]
i=list1.index(20)
list1[i]=200
list1

[5, 10, 15, 200, 25, 50, 20]

Exercise 10: Remove all occurrences of a specific item from a list.

In [52]:
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]

Exercise 1: Convert two lists into a dictionary

In [3]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
final= dict(zip(keys,values))
final

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Exercise 2: Merge two Python dictionaries into one

In [7]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3 = {**dict1, **dict2}
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [8]:
dict = dict1.copy()
dict.update(dict2)
dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Exercise 3: Print the value of key ‘history’ from the below dict

In [10]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
sampleDict['class']['student']['marks']['history']

80

Exercise 4: Initialize dictionary with default values

In [11]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
final = dict.fromkeys(employees,defaults)

In [12]:
final

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

Exercise 5: Create a dictionary by extracting the keys from a given dictionary

In [37]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
keys = ["name", "salary"]
res = dict()

for k in keys:
    # add current key with its value from sample_dict
    res.update({k: sample_dict[k]})
print(res)

TypeError: 'dict' object is not callable

In [3]:
newDict = {k: sample_dict[k] for k in keys}
newDict

{'name': 'Kelly', 'salary': 8000}

In [2]:
res = dict()

for k in keys:
    # add current key with its value from sample_dict
    res.update({k: sample_dict[k]})
print(res)

{'name': 'Kelly', 'salary': 8000}

Exercise 6: Delete a list of keys from a dictionary

In [4]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

In [6]:

for i in keys:
    sample_dict.pop(i)
sample_dict

{'age': 25, 'city': 'New york'}

Exercise 7: Check if a value exists in a dictionary

In [7]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
l=list(sample_dict.values())
l

[100, 200, 300]

In [8]:
200 in l

True

In [9]:
if 200 in sample_dict.values():
    print("200 is present")

200 is present

Exercise 8: Rename key of a dictionary

In [19]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict.pop("city")
sample_dict["location"]="New york"
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

Exercise 9: Get the key of a minimum value from the following dictionary

In [25]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min(sample_dict, key=sample_dict.get)

'Math'

Exercise 10: Change value of a key in a nested dictionary

In [2]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

In [3]:
sample_dict['emp3']['salary']=8500

In [4]:
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}