In [2]:
pen=10
i=0
j=0
while i > pen:
    print(i)
    i+= 1
else:
    while j <= 5:
        print(j)
        j+=1
print("You got my point")

0
1
2
3
4
5
You got my point

In [13]:
name="priyanka"
for i in name:
    if i== 'k':
        print("I found 'k'")
    print(i)

p
r
i
y
a
n
I found 'k'
k
a

In [5]:
name=["pink",12,56]
for i in name:
    print(name[0][1])

i
i
i

In [6]:
l="priyanka"
l[0:2]

'pr'

In [7]:
s="sudhanshu"
for i in s :
    if i == "n":
        continue 
    print(i)
else :
    if i == 'u':
        print("last char was u ")
    print("this is a else condtion ")

s
u
d
h
a
s
h
u
last char was u
this is a else condtion

In [10]:
p="vivanka"
for i in p:
    if i == 'n':
        continue
    print(i)
else:
    if i =='a':
        print("Yes you got my point")
    print("Hey")

v
i
v
a
k
a
Yes you got my point
Hey

In [19]:
p="pink"
pp=""
for i in range(len(p)):
    if p[i]=='n':
        continue
    else:
        pp = pp + p[i]

In [20]:
pp

'pik'

In [10]:
n=8
for i in range(0,n):
    for j in range(n-i):
        print(' ',end="")
    for j in range(0,i+1):
        print("* " , end="")
    print("\r")

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *

In [31]:
for i in range(7,0,-1):
    print(i)

7
6
5
4
3
2
1

In [11]:
p = int(input("Type your fav no: "))
for i in range(p,0,-1):
    
    for j in range(0,i-1):
        print("* ",end="")
    print("\r")

Type your fav no: 8
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
n = int(input('Enter number of rows required: '))

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='')

    
    for j in range(2*i-1):
        print('*',end='') 
    print()

In [15]:
n=5
i=0
while i < n:
    print(' '*(n-i-1)+'* '*(2 *i+1))
    i+=1

    *
   * * *
  * * * * *
 * * * * * * *
* * * * * * * * *

In [21]:
n=5
i=0
while i<n:
    print(' '*(i+1)+'* '*(n-i))
    i+=1

 * * * * *
  * * * *
   * * *
    * *
     *

In [14]:
n=5
i=0
while i < n:
    print(' '*(n-i-1)+'* '*(i+1))
    i+=1

    *
   * *
  * * *
 * * * *
* * * * *

In [28]:
l=["sudh",52,44,"gun"]

In [31]:
for i in range(len(l)):
    print(l[i])

sudh
52
44
gun

In [14]:
len(s)

24

In [13]:
s="This is first coding day"
for i in range(len(s)):
    print(s.split())

['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']
['This', 'is', 'first', 'coding', 'day']

In [9]:
s.count('i')
s

'This is first coding day'

In [63]:
p="this is first day of coding , And it's going fine"

In [64]:
len(p)

49

In [65]:
p.swapcase()

"THIS IS FIRST DAY OF CODING , aND IT'S GOING FINE"

In [55]:
v = p.find('first')
for i in range(len('first')):
    print(v+i)

8
9
10
11
12

In [66]:
for i in range(len(p)):
    print(i,end="")

0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748

In [80]:
l=["sudh",234,45.56,6,[45,56,6,"c"],True]

In [81]:
l.index("sudh")

0

In [82]:
len(l)

6

In [84]:
l.index(45.56)

2

In [98]:
l.count(3)

0

In [99]:
p=[1,10,15,58,25]
p.index(15)
p.sort()
p

[1, 10, 15, 25, 58]

In [40]:
l[4][0]

45

In [41]:
for i in l :
    if type(i)== list :
        print("this is a list " ,i)
    else :
        print("no element is not a list ", i)

no element is not a list  sudh
no element is not a list  234
no element is not a list  45.56
no element is not a list  6
this is a list  [45, 56, 6, 'c']
no element is not a list  True

In [42]:
while i == list:
    print("Yes , you got it")

In [89]:
l.sort()
l

TypeError: '<' not supported between instances of 'str' and 'int'

In [111]:
l = [[1, 2, 3],[11, 12, 'b', 'b', 'b'],[21, 't', 223],[4, 5, 6],[7, 8, 9],'demo',12.5]

for i in l:
    if type(i) == list:
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("Index of string {} is :".format(i[j]),j)
            j = j +1
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("The string in the nested list is '{}'".format(i[j]))
                i.remove(i[j])
                continue
            j = j +1
print("List after removal of string from nested list is\r",l,'\n')

Index of string b is : 2
Index of string b is : 3
Index of string b is : 4
The string in the nested list is 'b'
The string in the nested list is 'b'
The string in the nested list is 'b'
Index of string t is : 1
The string in the nested list is 't'
 [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [ ]:
p = [[1,2,3,"vinny"],["from","kimbagarh","k"],[78,56,"demo"],56,95,2,1]

In [4]:
l=[[56,85,25],[15,98,"priyanka"],["vivek","vinnu","vinn",25,97],99,79]
for i in l:
    if type(i)==list:
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("Index of string is {} :".format(i[j]),j)
            j+=1
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("removing string {} :",format(i[j]))
                i.remove(i[j])
                continue
            j+=1
print(l)

Index of string is priyanka : 2
removing string {} : priyanka
Index of string is vivek : 0
Index of string is vinnu : 1
Index of string is vinn : 2
removing string {} : vivek
removing string {} : vinnu
removing string {} : vinn
[[56, 85, 25], [15, 98], [25, 97], 99, 79]

In [ ]:
for i in p:
    if type(i)==list:
        j=0
        while j < len(i):
            if type (i[j]) is str:
                print("Index of string {} :  ".format(i[j]),j)
            j+=1
        j=0
        while j<len(i):
            if type (i[j]) is str:
                print("removing string {}".format(i[j]))
                i.remove(i[j])
                continue
            j+=1
print("List after removal of string from nested list is\r",p,'\n')

In [ ]:
[i for i in range(20) if i%2==0]

In [28]:
l = []
for i in range(10):
    if i % 2 != 0:
        l.append("odd")
    else :
        l.append("even")

In [27]:
["odd" if i%2 else "even" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
mat = []
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

In [1]:
[[j for j in range(3)]for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [8]:
t=(1,2,3,4,4,5)
type(t)

tuple

In [13]:
t[3]

4

In [14]:
t1=(5,6,7)

In [15]:
t+t1

(1, 2, 3, 4, 4, 5, 5, 6, 7)

In [16]:
(t+t1)*2

(1, 2, 3, 4, 4, 5, 5, 6, 7, 1, 2, 3, 4, 4, 5, 5, 6, 7)

In [17]:
4 in t

True

In [18]:
max(t+t1)

7

In [19]:
t.count(4)

2

In [20]:
t.index(4)

3

In [21]:
del(t)

In [22]:
t

NameError: name 't' is not defined

In [23]:
s={}

In [24]:
type(s)

dict

In [25]:
x=set()
type(x)

set

In [110]:
x={"my","name","is","priyanka"}
x1={"fiance","name","is"}

In [111]:
z=x.update(x1)
z

In [112]:
x

{'fiance', 'is', 'my', 'name', 'priyanka'}

In [115]:
x*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [1]:
d1={"name":{"priyanka","vivek"},1525:"dob_our","hey":["Yes",1997],"_gun":{"vin":"pin","status":"married"},True:"tuple"}
d1

{'name': {'priyanka', 'vivek'},
 1525: 'dob_our',
 'hey': ['Yes', 1997],
 '_gun': {'vin': 'pin', 'status': 'married'},
 True: 'tuple'}

In [2]:
d1["hey"][0]

'Yes'

In [3]:
d1.fromkeys(d1)

{'name': None, 1525: None, 'hey': None, '_gun': None, True: None}

In [4]:
v={"v1","v2","v3"}
p={2515}
c=dict.fromkeys(v,p)
c

{'v2': {2515}, 'v3': {2515}, 'v1': {2515}}

In [5]:
d1.popitem()

(True, 'tuple')

In [14]:
d1.setdefault("he","rude")

'rude'

In [15]:
d1

{'name': {'priyanka', 'vivek'},
 1525: 'dob_our',
 'hey': ['Yes', 1997],
 '_gun': {'vin': 'pin', 'status': 'married'},
 'my': None,
 'he': 'rude'}

In [22]:
d1.update({"my":"white"})

In [23]:
d1

{'name': {'priyanka', 'vivek'},
 1525: 'dob_our',
 'hey': ['Yes', 1997],
 '_gun': {'vin': 'pin', 'status': 'married'},
 'my': 'white',
 'he': 'rude',
 'colour': 'white'}

In [28]:
paragph = input("Enter the para:")
lst1=paragph.split(" ")
s1=set(lst1)
dic1=dict.fromkeys(s1,'db')
t1=tuple(dic1.keys())
l2=list(dic1.values())

Enter the para:

In [29]:
lst1

['']

In [30]:
s1

{''}

In [31]:
dic1

{'': 'db'}

In [32]:
def test1(*args,**kwargs):
    l=[i for i in args if type(i) == list ]
    d=[i[1] for i in kwargs.items() if type(i[1]) == list ]
    return l,d

In [ ]:
fun2([4,5,6,7,8] , [5,6,7,8,9,0] , 5,5,6,7, a = 5 , b = "fsdfds" , m = [4,5,6,7])

In [1]:
def testa(x,y):
    return x+y

In [4]:
type(testa(2,4))

int

In [6]:
def lesta(m,n):
    print(m-n)

In [8]:
type(lesta(5,2))

3

NoneType

Exercise 1: Calculate the multiplication and sum of two numbers

In [ ]:

def multisum(a,b):
    if a*b>1000:
        print(a*b)
    else:
       print(a+b) 
    pass

In [3]:
multisum(50,6)

56

Exercise 2: Print the sum of the current number and the previous number

In [8]:
previous_no=0
for i in range(1,11):
    print(previous_no+i)
    previous_no=i

1
3
5
7
9
11
13
15
17
19

In [23]:
print("Printing current and previous number and their sum in a range(10)")
previous_num = 0

# loop from 1 to 10
for i in range(1, 11):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number ", previous_num, " Sum: ", previous_num + i)
    # modify previous number
    # set it to the current number
    previous_num = i

Printing current and previous number and their sum in a range(10)
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
Current Number 10 Previous Number  9  Sum:  19

Exercise 3: Print characters from a string that are present at an even index number

In [33]:
str = "pynative"
for i in range(len(str)):
    if i % 2==0:
        print(i,str[i])

0 p
2 n
4 t
6 v

In [35]:
list=input("Enter your name: ")
for i in list[0::2]:
    print(i)

Enter your name: vivek
v
v
k

Exercise 4: Remove first n characters from a string

In [50]:
p="pynative"
print(p[4:])
print(p[2:])

tive
native

In [51]:
def remove_chars(word, n):
    print('Original string:', word)
    x = word[n:]
    return x

print("Removing characters from a string")
print(remove_chars("pynative", 4))
print(remove_chars("pynative", 2))

Removing characters from a string
Original string: pynative
tive
Original string: pynative
native

Exercise 5: Check if the first and last number of a list is the same

In [59]:
def first_last_same(numberList):
    print("Given list:", numberList)
    
    first_num = numberList[0]
    last_num = numberList[-1]
    
    if first_num == last_num:
        return True
    else:
        return False

numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [71]:
def first_last_no(number_list):
    first_no=number_list[0]
    second_no=number_list[-1]
    if first_no==second_no:
        return True
    else:
        return False
numbers_x = [10, 20, 30, 40, 10]
print(numbers_x,"result is",first_last_no(numbers_x))
numbers_y = [75, 65, 35, 75, 30]
print(numbers_y,"result is",first_last_no(numbers_y))

[10, 20, 30, 40, 10] result is True
[75, 65, 35, 75, 30] result is False

Exercise 6: Display numbers divisible by 5 from a list

In [76]:
l=[10, 20, 33, 46, 55]
for i in l:
    if i % 5==0:
        print(i)

10
20
55

Exercise 7: Return the count of a given substring from a string

In [7]:
str_x = "Emma is good developer. Emma is a writer"
str_x.count('Emma')

2

Exercise 8: Print the following pattern

In [24]:
for i in range(6):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555

Exercise 9: Check Palindrome Number

In [30]:
palin=input("Enter a pelindrom no or word:")
if palin[0]==palin[-1]:
    print("True")
else:
    print("False")

Enter a pelindrom no or word:125
False

Exercise 10: Create a new list from a two list using the following condition

In [1]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

In [4]:
def newlist(list1,list2):
    result_list=[]
    for i in list1:
        if i%2!=0:
            result_list.append(i)
    for i in list2:
        if i%2==0:
            result_list.append(i)
    return result_list
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("final_list: ",newlist(list1,list2))

final_list:  [25, 35, 40, 60, 90]

Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

In [28]:
i=2515
while i>0:
    digit=i%10
    i=i//10
    print(digit,end=" ")

5 1 5 2

In [14]:
print(p[::-1],end="  ")

5152

In [19]:
number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

Exercise 12: Calculate income tax for the given income by adhering to the below rules
Taxable Income	Rate (in %)
First $10,000	0
Next $10,000	10
The remaining	20

In [65]:
income = 45000
tax_payable = 0
print("Given income", income)

if ino    x = income - 10000
    # 10% tax
    tax_payable = x * 10 / 100
else:
    # first 10,000
    tax_payable = 0

    # next 10,000 10% tax
    tax_payable = 10000 * 10 / 100

    # remaining 20%tax
    tax_payable += (income - 20000) * 20 / 100

print("Total tax to pay is", tax_payable)

Given income 45000
Total tax to pay is 6000.0

In [68]:
income=45000
tax_payable=0
if income<=10000:
    tax_payable=0
elif income<=20000:
    tax_payable=10000*10/100
else:
    tax_payable=0
    tax_payable=10000*10/100
    tax_payable+=(income-20000)*20/100
print(tax_payable)

6000.0

Exercise 13: Print multiplication table form 1 to 10

In [80]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=" ")
    print(",\t")

1 2 3 4 5 6 7 8 9 10 ,
2 4 6 8 10 12 14 16 18 20 ,
3 6 9 12 15 18 21 24 27 30 ,
4 8 12 16 20 24 28 32 36 40 ,
5 10 15 20 25 30 35 40 45 50 ,
6 12 18 24 30 36 42 48 54 60 ,
7 14 21 28 35 42 49 56 63 70 ,
8 16 24 32 40 48 56 64 72 80 ,
9 18 27 36 45 54 63 72 81 90 ,
10 20 30 40 50 60 70 80 90 100 ,

Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)

In [92]:
for i in range(6):
    for j in range(i-1,5):
        print('*',end=" ")
    print("")

* * * * * *
* * * * *
* * * *
* * *
* *
*

Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

In [5]:
def exp(base,power):
    return base**power

In [7]:
exp(5,4)

625

In [8]:
x = 75
def myfunc():
    x = x + 1
    print(x)

myfunc()
print(x)

UnboundLocalError: local variable 'x' referenced before assignment

In [9]:
aTuple = (1, 'Jhon', 1+3j)
print(type(aTuple[2:3]))

<class 'tuple'>

In [10]:
x = 50
def fun1():
    x = 25
    print(x)
    
fun1()
print(x)

25
50

In [11]:
def func1():
    x = 50
    return x
func1()
print(x)

50

In [12]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

False True True True

In [14]:
x = 50
def fun1():
    fun1()
    # your code to assign global x = 20

print(x)

50

In [16]:
print(type(0xFF))

<class 'int'>

In [17]:
type(range(5))

range

In [18]:
print(36 / 4)

9.0

In [19]:
print(2%6)

2

In [20]:
print(-18 // 4)

-5

In [21]:
a = 4
b = 11
print(a | b)
print(a >> 2)

15
1

In [24]:
2**3**2

512

In [25]:
y = 10
x = y += 2
x

SyntaxError: invalid syntax (<ipython-input-25-df9e37ebdead>, line 2)

In [26]:
(2 * 3 ** 3 * 4)

216

In [27]:
2*3

6

In [29]:
2*27*4

216

In [30]:
x = 100
y = 50
x and y

50

In [4]:
test.txt
aaa
bbb
ccc
ddd
eee
fff
ggg
f = open("test.txt", "r")
print(f.readline(3))
f.close()

NameError: name 'test' is not defined

In [5]:
print('[%c]' % 65)

[A]

In [6]:
print('%d %d %.2f' % (11, '22', 11.22))

TypeError: %d format: a number is required, not str

In [7]:
print('PYnative ', end='//')
print(' is for ', end='//')
print(' Python Lovers', end='//')

PYnative // is for // Python Lovers//

In [8]:
print('%x, %X' % (15, 15))

f, F

In [9]:
x = float('NaN')
print('%f, %e, %F, %E' % (x, x, x, x))

nan, nan, NAN, NAN

In [11]:
def display(**kwargs):
    for i in kwargs:
        print(i)

display(emp="Kelly", salary=9000)

emp
salary

In [1]:
def genfib(n):
    a=1
    b=1
    output = []
    for i in range(n):
        output.append(a)
        a,b == b, a+b
    return output

In [3]:
genfib(10)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [4]:
def genfib(n):
    a = 1
    b = 1
    output = []
    for i in range(n):
        output.append(a)
        a , b = b , a+b
    return output

In [5]:
genfib(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [1]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d

    return inner_fun(a, b)
    return a

result = outer_fun(5, 10)
print(result)

15

In [2]:
def fun1(num):
    return num + 25

fun1(5)
print(num)

NameError: name 'num' is not defined

In [3]:
var = 10
for i in range(10):
    for j in range(2, 10, 1):
        if var % 2 == 0:
            continue
            var += 1
    var+=1
else:
    var+=1
print(var)

21

In [4]:
x = 0
while (x < 100):
  x+=2
print(x)

100

In [5]:
for num in range(-2,-5,-1):
    print(num, end=", ")

-2, -3, -4,

In [7]:
x = 0
for i in range(10):
  for j in range(-1, -10, -1):
    x += 1
    print(x,end="")

123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990

In [8]:
print( (1.1 + 2.2) == 3.3 )

False

In [9]:
print(int(2.999))

2

In [10]:
print(0b101)
print(0o10)
print(0x1F)

5
8
31

In [11]:
print(abs(-45.300))

45.3

In [18]:
str1 = "my isname isisis jameis isis bond";
sub = "is";
print(str1.count(sub,4))

6

In [19]:
strOne = str("pynative")
strTwo = "pynative"
print(strOne == strTwo)
print(strOne is strTwo)

True
True

In [22]:
a="welcome to the beautiful world of python"
a.title()

'Welcome To The Beautiful World Of Python'

In [23]:
str = "My salary is 7000";
print(str.isalnum())

False

In [24]:
print("John" > "Jhon")
print("Emma" < "Emm")

True
False

In [25]:
my_list = ["Hello", "Python"]
print("-".join(my_list))

Hello-Python

In [26]:
sampleList = [10, 20, 30, 40, 50]
print(sampleList[-2])
print(sampleList[-4:-1])

40
[20, 30, 40]

In [30]:
listOne  =  ['a', 'b', 'c', 'd']
listTwo =  ['e', 'f', 'g']
list.extend(listOne,listTwo)

In [31]:
listOne

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [32]:
m=listOne+listTwo

In [33]:
m

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'e', 'f', 'g']

In [34]:
l = [None] * 10
print(len(l))

10

In [35]:
resList = [x+y for x in ['Hello ', 'Good '] for y in ['Dear', 'Bye']]
print(resList)

['Hello Dear', 'Hello Bye', 'Good Dear', 'Good Bye']

In [36]:
set1 = {10, 20, 30, 40}
set2 = {50, 20, "10", 60}

set3 = set1.union(set2)
print(set3)

{40, 10, 50, 20, '10', 60, 30}

In [37]:
aSet = {1, 'PYnative', ['abc', 'xyz'], True}
print(aSet)

TypeError: unhashable type: 'list'

In [38]:
dict1 = {"name": "Mike", "salary": 8000}
temp = dict1.pop("age")
print(temp)

KeyError: 'age'

In [39]:
dict1 = {"name": "Mike", "salary": 8000}
temp = dict1.get("age")
print(temp)

None

In [47]:
student = {1: {'name': 'Emma', 'age': '27', 'sex': 'Female'},2: {'name': 'Mike', 'age': '22', 'sex': 'Male'}}
student[1]["age"]

'27'

In [1]:
class car:
    pass

In [2]:
audiq7 =  car()

In [4]:
audiq7.milage = 10
audiq7.year = 2020
audiq7.make = 345
audiq7.model = "pinkvin"

In [5]:
audiq7.milage

10

In [6]:
milage

NameError: name 'milage' is not defined

In [7]:
nano = car()

In [8]:
nano.milage = 20
nano.make = 5687
nano.year = 2021
nano.model = "ragda"
nano.engineno = 548621433

In [9]:
print(nano.milage,audiq7.milage)

20 10

In [12]:
class car:
    def __init__(self, milage, year, make, model):
        self.milage = milage
        self.year = year
        self.make = make
        self.model = model

In [19]:
nano1 = car(20,2020,2022,"hhs")
mercedes1=car(45,8569,2021,"shuhf")
nano2=car(56,8654,14446,"jsafja")
mercedes2=car(45,2022,2502,"sjhkdhfo")
nano3=car(85,562,2020,"hsidhf")
mercedes3=car(56,962,2021,"jskhfiuw")

In [20]:
nano3.make

2020

In [16]:
class car:
    def __init__(self, milage, year, make, model):
        self.milage = milage
        self.year = year
        self.make = make
        self.model = model
    def age(self,current_year):
        return(current_year - self.year)
    
    def milage1(self):
        print("print milage of a car", self.milage)
        
    def __str__(c):
        return("This is my car class and object")

In [17]:
nano5=car(52,2020,564,"pik")

In [18]:
nano5.age(2021)

1

In [19]:
nano5.milage1()

print milage of a car 52

In [20]:
print(nano5)

This is my car class and object

In [29]:
class student:
    def __init__(self,name,rollno,joining_data,current_topic):
        self.name = name
        self.rollno = rollno
        self.joining_data = joining_data
        self.current_topic = current_topic
    def name_passing(self):
        if type(self.name)==list:
            for i in self.name:
                print("name of the student",i)
        else:
            print("provided name is not in the form of list")
            
    def crt_topic(self):
        print("current topic discussed is my class is", self.current_topic)
        
    def str_rollno(self):
        if type(self.rollno) == str:
            print("do nothing")
        else:
            return str(self.rollno)
        
    def duration(self,current_date):
        print("duration of student in my class is", current_date - self.joining_data)
    
    def __str__(self):
        return("this is student class where they can tyr to input there own data and they can try")

In [22]:
pink = student("pink",55545,2021,"oops")

In [24]:
pink.duration(2021)

duration of student in my class is 0

In [26]:
print(pink)

this is student class where they can tyr to input there own data and they can try

In [27]:
tusar = student("tusar",56463,2022,"class")

In [28]:
tusar.name

'tusar'

In [32]:
pawan = student(["vivek","jay","himansh"],[51552,546464,98454,444568],2021,"oops")

In [33]:
pawan.name_passing()

name of the student vivek
name of the student jay
name of the student himansh