In [1]:
# This is my commit from here
"""setksj
kllgkjlk
lkdjlkd
kld"""

'setksj\nkllgkjlk\nlkdjlkd\nkld'

In [2]:
a=45
b='priyanka'

In [ ]:
a,b,c=85,'pinku','yes!i did it'

In [3]:
a

45

In [4]:
type(b)

str

In [7]:
_r=45

In [8]:
print(True+True+True+False+True)
print(False-True+True)

4
0

In [10]:
print(True/False)

ZeroDivisionError: division by zero

In [17]:
n=45+5j
m=85-2j
type(n)

complex

In [18]:
n.real

45.0

In [19]:
n*m

(3835+335j)

In [20]:
1+'pimk'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
str(1)+'pink'

'1pink'

In [22]:
'pink'+'pink'+'pink'
'pink'*3

'pinkpinkpink'

In [37]:
a = int(input("enter the value for a= "))
b = int(input("enter the value for b = "))
c = int(input("enter the value for c = "))

enter the value for a= 85
enter the value for b = 55
enter the value for c = 5

In [41]:
o= a+b/c

In [42]:
type(o)

float

In [43]:
str(o)+'priyanka'

'96.0priyanka'

In [46]:
a = int(input("input a  no less than 45 ="))
# if a < 45:
#     pass
if a < 45:
    print('You did it')
else:
    print('it is not valid')

input a  no less than 45 =85
it is not valid

In [52]:
salary = int(input('enter your salary\n'))
if salary > 1000:
    print ("your salary is good")
    if salary > 5000 and salary <=10000:
        print ("exellent")
        if True:
            print ("false code")
    elif salary > 10000:
        print ("it is good")
    else:
        print ("i will bur Frari")
elif salary > 500:
    print ("i will buy a bike")
elif salary > 100:
    print("i will not buy anthing")
else:
    print("i will study hard! and will buy lugrurious things.")

enter your salary
100056
your salary is good
it is good

In [53]:
a = 10
b = 20

if a == 10 and b > 20:
    print('true')
elif a == 10 and b < 20 :
    print('okay')
else:
    print('false')

false

In [60]:
p=input("Enter your first name: ")
q=input("Enter your second name: ")
if p=="Priynka" and q=="bisht":
    print("Correct")
else :
    print("Try once again")

Enter your first name: Priynka
Enter your second name: bisht
Correct

In [2]:
initial_speed = 0
final_speed = 100
count = 1
while initial_speed <  final_speed:
    print("This is my speed")
    count = count + 1
    if count==10:
        break

This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed

In [4]:
choco = 5
i = 1
while i < choco:
    print(i)
    i += 1
    
else:
    print("no  , it's not available")

1
2
3
4
no  , it's not available

In [5]:
p="pink"
p[2]

'n'

In [11]:
p = "my name is priyanka"
print(p[10:2:-1])
print(p[2:-5])

 si eman
 name is pri

In [14]:
for i in p:
    if i == 'a':
        print("I found a")
        
    print(i)

m
y

n
I found a
a
m
e

i
s

p
r
i
y
I found a
a
n
k
I found a
a

In [20]:
for i in p:
    if i == "n":
#         continue
        break
    print(i)
else:
    print("nothing")

m
y

In [24]:
s = "ineuron"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else:
        ss = ss + s[i]

In [25]:
ss

'ieuro'

In [52]:
n = 8
for i in range(0,n):
    for j in range(0,i+1):
        print("+" , end="")
    print()

+
++
+++
++++
+++++
++++++
+++++++
++++++++

In [49]:
p=int(input("ENTER THE NO:"))
for i in range(p,0,-1):
    for j in range(p-i):
        print('',end='')
    for j in range(i-1):
        print('-',end='')
    print()

ENTER THE NO:5
----
---
--
-

In [54]:
p = 9
for i in range(0,n):
    for j in range(0,2*i+1):
        print('.',end='')
    print()

.
...
.....
.......
.........
...........
.............
...............

In [2]:
n = 9
i = 0
while i < n:
    if i <= 9:
        i=2*i+1
        print('*',end='')
    print()

*
*
*
*

# Range

# it works exactly as 'STRING'

In [6]:
for i in range(8,4,-1):
    print(i)

8
7
6
5

In [7]:
for i in range(4,8):
    print(i)

4
5
6
7

In [8]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [9]:
n = 9
i = 0
while i < n:
    print(' '*(n-i-1) + '*'*(i + 1))
    i += 1

        *
       **
      ***
     ****
    *****
   ******
  *******
 ********
*********

# String and list manipulation

In [1]:
c = "hey World what"re you doing"

SyntaxError: invalid syntax (<ipython-input-1-5f5639b14881>, line 1)

In [3]:
c = "hey World what're you doing"
c

"hey World what're you doing"

In [4]:
c = 'hey World what"are you doing'
c

'hey World what"are you doing'

In [3]:
notes = 5
i = 1
j = 1
while i < 5:
    print(i)
    i += 1
else:
    while j <3 :
        print(j)
        j += 1
    print("NOTHING")

1
2
3
4
1
2
NOTHING

In [4]:
"pink" + "vink"

'pinkvink'

In [7]:
"pink " * 2 + "vin " * 2

'pink pink vin vin '

In [8]:
p = "my name is priyanka"

In [12]:
v = p.find("name")
for i in range(len("name")):
    print(v + i)

3
4
5
6

In [13]:
p.split('n')

['my ', 'ame is priya', 'ka']

In [14]:
p.upper()

'MY NAME IS PRIYANKA'

In [16]:
p.swapcase()

'MY NAME IS PRIYANKA'

In [19]:
p = "pink"
p.center(12 , '*')

'****pink****'

In [21]:
a= "WE ALL ARE A PART OF FULL STACK "

In [22]:
a.lower()

'we all are a part of full stack '

In [24]:
a.count('A')

5

In [29]:
for i in range(len(a)):
    if (a[i]=="A"):
        print(i)

3
7
11
14
28

In [31]:
a.replace('A' , 'ineuron')

'WE ineuronLL ineuronRE ineuron PineuronRT OF FULL STineuronCK '

In [32]:
a.split()

['WE', 'ALL', 'ARE', 'A', 'PART', 'OF', 'FULL', 'STACK']

In [33]:
s = input("Enter a data for which you would like to check pelindrom ")
s1 = s[::-1]
if s == s1:
    print("it's a same")
else:
    print("it's not same")

Enter a data for which you would like to check pelindrom 2002
it's a same

# List Manipulation

In [4]:
l=["vinnu",52,2.0,8410,[45,15,"pink"],True]
for i in l:
    print(i)

vinnu
52
2.0
8410
[45, 15, 'pink']
True

In [8]:
for i in l:
    if type(i)==list:
        print(i)
    else:
        print("no this element is not a list", i)

no this element is not a list vinnu
no this element is not a list 52
no this element is not a list 2.0
no this element is not a list 8410
[45, 15, 'pink']
no this element is not a list True

In [32]:
l1=[45,868,"pinka"]
p=l+l1
p

[50, 65, 89, 'chotipink', [54, 89, 'lk'], 45, 868, 'pinka']

In [33]:
p[4][0]

54

In [10]:
l1*2

[45, 868, 'pinka', 45, 868, 'pinka']

In [ ]:
len(l)

In [11]:
len(l)

6

In [12]:
78 in l

False

In [17]:
print(max([2,5,6,8,10]))
print(max(["xapo","tech"]))
print(max([52,64,"sudh"]))

10
xapo

TypeError: '>' not supported between instances of 'str' and 'int'

In [19]:
min(["pink","vin"])

'pink'

In [20]:
min([0,2,6,8])

0

In [28]:
l=[50,65,89]
l.append("chotipink")
l.append([54,89,"lk"])
l

[50, 65, 89, 'chotipink', [54, 89, 'lk']]

In [38]:
l=[1,2,3,4,5]
l.append([6,7])
l

[1, 2, 3, 4, 5, [6, 7]]

In [41]:
l.insert(6,8)
l

[1, 2, 3, 4, 5, [6, 7], 8, 8, 8]

In [46]:
l.insert(-1,10)
l

[1, 2, 3, 4, 5, [6, 7], 8, 8, 9, 9, 9, 9, 10, 8]

In [48]:
p=[1,2,3,4]
p.append(5)
p.insert(-1,5)

p

[1, 2, 3, 4, 5, 5]

In [49]:
p.count(5)

2

In [52]:
p.extend([2,5,8])
p

[1, 2, 3, 4, 5, 5, 2, 5, 8, 2, 5, 8, 2, 5, 8]

In [53]:
p.extend("pink")
p

[1, 2, 3, 4, 5, 5, 2, 5, 8, 2, 5, 8, 2, 5, 8, 'p', 'i', 'n', 'k']

In [54]:
p.extend(56)
p

TypeError: 'int' object is not iterable

In [55]:
p.extend([25,56,["vin",56,8]])
p

[1,
 2,
 3,
 4,
 5,
 5,
 2,
 5,
 8,
 2,
 5,
 8,
 2,
 5,
 8,
 'p',
 'i',
 'n',
 'k',
 25,
 56,
 ['vin', 56, 8]]

In [56]:
p[2]

3

In [58]:
p.pop()

56

In [59]:
p

[1, 2, 3, 4, 5, 5, 2, 5, 8, 2, 5, 8, 2, 5, 8, 'p', 'i', 'n', 'k', 25]

In [62]:
p.remove(5)

In [66]:
p

[1, 2, 3, 4, 2, 8, 2, 5, 8, 2, 5, 8, 'p', 'i', 'n', 'k', 25]

In [67]:
p.reverse()
p

[25, 'k', 'n', 'i', 'p', 8, 5, 2, 8, 5, 2, 8, 2, 4, 3, 2, 1]

In [72]:
p=[56,85,2,3,4]
p.sort()
p

[2, 3, 4, 56, 85]

In [77]:
p=[[2,3,5,"pink"],[5,8,9,4],[1,2,7]]
p.insert(1,[2,2.65,8]) 
p.insert(2,[85.32,89])
p

[[2, 3, 5, 'pink'], [2, 2.65, 8], [85.32, 89], [5, 8, 9, 4], [1, 2, 7]]

In [98]:
p=[[2,3,5,"b","b","b"],[5,8,9,4],[1,2,7]]
for i in p:
    if type(i)==list:
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("index of string {} is:" .format(i[j]),j)
            j+=1
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("The string is the nested list is '{}'" .format(i[j]))
                i.remove(i[j])
                continue
            j+=1
print("List after removal of string from nested list is/r",p,'\n')

index of string b is: 3
index of string b is: 4
index of string b is: 5
The string is the nested list is 'b'
The string is the nested list is 'b'
The string is the nested list is 'b'
List after removal of string from nested list is/r [[2, 3, 5], [5, 8, 9, 4], [1, 2, 7]]

How can we take list as a input?

In [1]:
l=[]
for i in range(5):
    l.append(int(input()))
print(l)

5
8
96
13
25
[5, 8, 96, 13, 25]

# Comprehension
in which we can write multi line code into single line

In [5]:
l1=[]
for i in "sudh":
    l1.append(i)

In [6]:
l1

['s', 'u', 'd', 'h']

In [8]:
[[i] for i in "pink"]

[['p'], ['i'], ['n'], ['k']]

In [12]:
l=[]
for i in range(10):
    if i%2 == 0:
        l.append(i)

In [13]:
l

[0, 2, 4, 6, 8]

In [14]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [15]:
["even" if i%2==0 else "odd" for i in range(10) ]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [16]:
mat = []
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [18]:
[[j for j in range(3)]for i in range(3) ]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [21]:
[i for i in range(8) if i%2 ==0 if i%3==0]

[0, 6]

In [24]:
l=[]
for i in range(8):
    if i%2 ==0:
        if i%3 == 0:
            l.append(i)
l

[0, 6]

In [26]:
l=[]
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
["yes" if i==1 else "no" if i==2 else "test" for i in l]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

# Tuple

In [28]:
t=()
type(t)

tuple

In [2]:
t1=(5,56,8,75,89)
t2=(78,85,2)

In [3]:
if len(t1)==len(t2):
    print("it's same")
else:
    print("wrong")

wrong

In [4]:
t=("priyanka","bisht","vivek","balodi")

In [6]:
i=input("write your name\n:")
if i in t:
    print("Yes your name is available")
else:
    print("No your name is not available")

write your name
:vivek
Yes your name is available

In [7]:
t

('priyanka', 'bisht', 'vivek', 'balodi')

In [8]:
del(t)

In [9]:
t

NameError: name 't' is not defined

In [ ]:
l = [21,56,922,78]
l.

In [10]:
t=(45,6,8,9)
t.count(6)

1

# SET

In [12]:
l=[51,25,25,25,12,12,1,5,125,15,15,"priyanka","priyanka"]

In [13]:
set(l)

{1, 12, 125, 15, 25, 5, 51, 'priyanka'}

In [14]:
25 in set(l)

True

In [4]:
data=input("enter the para:")
l=data.split(" ")
l1=set(l)
l2=dict.fromkeys(l1,"priyanka")
l3=tuple(l2.keys())
l4=list(l2.values())

enter the para:hey you what are you doing

In [6]:
a="hey"
for i in a:
    print(i)

h
e
y

In [5]:
l

['hey', 'you', 'what', 'are', 'you', 'doing']

In [ ]:
my = input()

In [13]:
d = {"Company":"ineuron","Course":"full stack data science","batch":2022}

In [14]:
for i in d:
    print("key :" , i , ";" ,"value :", d[i])

key : Company ; value : ineuron
key : Course ; value : full stack data science
key : batch ; value : 2022

In [18]:
for i in d:
    print (d.values())

dict_values(['ineuron', 'full stack data science', 2022])
dict_values(['ineuron', 'full stack data science', 2022])
dict_values(['ineuron', 'full stack data science', 2022])

In [22]:
for i in d:
    if i =="batch":
        if d[i]>2022:
            print("it is fine")
        else :
            d[i]=2023

it is fine

In [25]:
my = {}
for i in range(5):
    my[i] = i*i

In [26]:
my

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [27]:
{i:i*i for i in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [28]:
def test(*args,**kwargs):
    for i in args:
        if type(i) == list
    return i
    else:
        if type(i[1]) == list
    return i[1]

SyntaxError: invalid syntax (<ipython-input-28-c1bd05e096c4>, line 3)

In [29]:
test([56,85,"pink"],a=45,b=55)

[56, 85, 'pink']

In [54]:
def fun2(*args,**kwargs):
    l=[i for i in args if type(i) == list ]
    d=[i[1] for i in kwargs.items() if type(i[1]) == list ]
    return l,d

In [55]:
fun2([4,5,6,7,8] , [5,6,7,8,9,0] , 5,5,6,7, a = 5 , b = "fsdfds" , m = [4,5,6,7])

([[4, 5, 6, 7, 8], [5, 6, 7, 8, 9, 0]], [[4, 5, 6, 7]])

In [58]:
def test1(*args,**kwargs):
    l=[i for i in args if type(i) == list ]
    d=[i[1] for i in kwargs.items() if type(i[1]) == list ]
    return l,d

In [59]:
test1([4,5,6,7,8] , [5,6,7,8,9,0] , 5,5,6,7, a = 5 , b = "fsdfds")

([[4, 5, 6, 7, 8], [5, 6, 7, 8, 9, 0]], [])